#!/bin/bash
# script to make it easier to start the server during dev by not having to
# recall the long-ish command needed.
set -euo pipefail
cd `dirname "$0"`

# see code for more explination about what these values should be and how to
# get them. This block of env vars are also the ones that must be configured as
# Google Cloud Secrets. See ./.circleci/README.md for more details.
export CLIENT1_API_KEY=00000000-0000-0000-0000-000000abc123
export CLIENT2_API_KEY=00000000-0000-0000-0000-000000def456
export CLIENT3_API_KEY=00000000-0000-0000-0000-000000ghi789
export CLIENT4_API_KEY=00000000-0000-0000-0000-000000jkl000
export INAT_API_PREFIX=https://dev.api.inat.techotom.com/v1/
export INAT_PREFIX=https://dev.inat.techotom.com/
export INAT_PROJECT_SLUG=wow-dev2
export OAUTH_APP_ID=1234
export OAUTH_APP_SECRET=1234
export OAUTH_USERNAME=user
export OAUTH_PASSWORD='password'
export SENTRY_DSN=https://00000000000000000000000000000000@o111111.ingest.sentry.io/2222222

# dev mode is enabled in `yarn start`, but you can override it for testing
# export IS_DEV_MODE=false

command -v git > /dev/null && {
  export GIT_SHA=$(git rev-parse --short HEAD)
} || {
  export GIT_SHA='(git command not found)'
}

yarn start${1:-}
